body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-input {
  width: 300px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button-filter {
  background-color: #ffc107;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-filter:hover {
  background-color: #ffcd38;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-container select,
.dropdown-container input[type='number'] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

th {
  background-color: #ffc107;
}

tr:nth-child(even) {
  background-color: #222;
}

tr:hover {
  background-color: #333;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  color: #ffc107;
}